<% layout('layouts/boilerplate') %>
<img src="<%= campground.image %> " alt="">
<p><%= campground.description %> </p>
<p><%= campground.price %> </p>
<h1><%= foundCampground.title %> </h1>
<h2><%= foundCampground.location %> </h2>
<footer>
    <a href="/campgrounds/<%= foundCampground.id %>/edit">Edit this campground</a>
    <form action="/campgrounds/<%= foundCampground.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <a href="/campgrounds">Go back</a>
</footer>